__pycache__/
*.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

*.h5
*.docx

trainer.py
tuner.py
tester.py
exploration.py

# Model fitting
data
training
learning_curves
hp_tuning
astroml/saved_models