__pycache__/
*.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

*.h5
*.docx

exploration.py
trainer_time.py
trainer_all_times.py
trainer_chi.py
tuner_time.py

# Folders
data
exploration
hp_tuning
importance
learning_curves
results
saved_models
training

docs/_build/
docs/_template
docs/_static