__pycache__/
*.DS_Store

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

*.h5
*.docx

trainer.py
tuner.py
evaluator.py
exploration.py

# Model fitting
data
training
importance
learning_curves
hp_tuning
astroml/saved_models

docs/_build/
docs/_template
docs/_static